.navbar {
    height: 100px;
    color: #A08C57;
    background-color:white ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 100px;
    width: 200px;
}

.logo {
    background-image: url(pep.png);
    background-size: cover;
    height: 100px;
    width: 200px;
}

.home {
    color : #A08C57;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

a {
    text-decoration: none;
    color : #A08C57;    
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*background-color:rgb(23, 6, 62);*/
    background-color: #a08c57;
   
}

.box {
    /*border: 2px solid black;*/
    height: 400px;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15px; 
    margin-top: 15px;
}

.box-img {
    height: 350px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: #A08C57;
}

@media(max-width:768px) {
    .box{
        height : 100px;
        width : 23%;
    }

    .box-img {
        height : 70px;
        width : 50px;
    }

    .box-content {
        font-size: 13px;
    }

}